@model List<Department>

<div class="d-flex align-items-center">
    <h1 class="me-3">Departments</h1>
    <a asp-action="Create" asp-controller="Departments" class="btn btn-primary">Add new department</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>
                <td>
                    <a asp-controller="Departments" asp-action="Details" asp-route-departmentId="@department.Id"
                        class="btn btn-sm btn-secondary">View</a>
                    <a asp-controller="Departments" asp-action="Update" asp-route-departmentId="@department.Id"
                        class="btn btn-sm btn-warning">Edit</a>
                    <a asp-controller="Departments" asp-action="Delete" asp-route-departmentId="@department.Id"
                        class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>